@media screen and (max-width: 750px) {
  .holding {
    font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    color: #000000;
  }
  .position {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    span {
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  .pnl {
    font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    color: #000000;
    display: inline-block;
    width: 100%;
    height: 100%;
    span{
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  .chr-c-btn {
    min-width: 65px !important;
    height: 32px !important;
    border: 1px solid #000000;
    font-size: 10px;
    line-height: 31px !important;
    padding: 0;
    margin: 0;
  }
  .m-chfry-add-margin-btn {
    width: 148px;
    height: 49px;
    margin-top: 16px;
  }
  .m-chfry-flash-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-image: url("../../../../../assets/newFlash/try_flash_bg.svg#svgView(preserveAspectRatio(none))");
    filter: none;
    border: 0;
    &:link,
    &:visited {
      background-image: url("../../../../../assets/newFlash/try_flash_bg.svg#svgView(preserveAspectRatio(none))");
    }

    &:hover {
      background-image: url("../../../../../assets/newFlash/try_flash_bg_hover.svg#svgView(preserveAspectRatio(none))");
    }
    &:active,
    &.m-chfry-flash-btn-active {
      color: #fbb33b;
      font-family: Arial Black;
      font-style: normal;
      text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
      background-image: url("../../../../../assets/newFlash/try_flash_bg_active.svg#svgView(preserveAspectRatio(none))");
    }
  }

  .m-marigin-content {
    padding-left: 20px;
    padding-right: 20px;
    .m-margin-header {
      width: 100%;
      padding-top: 24px;
      padding-bottom: 20px;

      .m-margin-header-left {
        text-align: left;
        width: 100%;
        display: flex;
        overflow: hidden;
        // align-items: center;
        justify-content: space-between;
        .orders {
          font-family: Arial Black;
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 23px;
          color: #171717;
          line-height: 23px;
          width: 89px;
          flex-shrink: 0;
        }
        .positon-fee {
          font-family: Arial Black;
          font-style: normal;
          font-weight: 900;
          font-size: 14px;
          color: #171717;
          // overflow-x: scroll;
          .content {
            display: flex;
            align-items: center;
            line-height: 14px;
           
            .popover {
              padding-left: 3px;
            }
            &.two {
              padding-top: 6px;
            }
          }
        }
      }
    }
  }
}
