@font-face {
    font-family: "Bugaki";
    src: url('Bugaki-Regular.ttf') format("truetype"),url('Bugaki-Regular.otf') format("opentype"),url('Bugaki-Regular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src: url('Arial.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arial Black";
    src: url('Arial Black.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

